* {
    margin: 0px;
    
}

body {
    background-color: #ffffff;
    background-image: url(imagenes/fondo...jpg);
    background-repeat: no-repeat;
}

.content,
button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    border-radius: 16px;
    margin-top: 20px;
}

button {
    background-color: rgb(247, 247, 247);
    color: rgb(12, 11, 11);
    cursor: pointer;
    display: block;
    width: 100px;
}

button:hover {
    background-color: rgb(15, 49, 124);
    color: white;
}

.container,
content {
    width: auto;
    background-color: rgba(255, 255, 255, 0.411);
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 70px;
    border: black 2px solid;

}

.container{
    width: auto;
    height: 300px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 200px;
}